.daySelector{
    container-type:inline-size;
    container-name:daySelector;
}

.calendar{
    margin-bottom:40px;
}

.daySelectorContainer{
    display:grid;
    grid-template-rows: auto 1fr auto;
    margin-bottom:40px;
}

.radioContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}

.radioItem{
    padding: 10px;
    background: hsla(0, 100%, 100%, 1);
    border: 1px solid black;
    display:flex;
    align-items: center;
}

.radioItem > input[type='radio']{
    margin-right:10px;
}

.radioItem > label{
    width:100%;
}

.customRoot{
    --rdp-cell-size: 40px;
    --rdp-accent-color: #0000ff;
    --rdp-background-color: #e7edff;
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    --rdp-outline: 2px solid var(--rdp-accent-color);
    --rdp-outline-selected: 3px solid var(--rdp-accent-color);
    margin:0;
}

.customMonths{
    display:flex;
    justify-content:center;
}

.customTfoot{
    margin: 0.5em;
}

.customTfoot p{
    padding-left:9px;
}

@container daySelector (min-width:720px){
    .daySelectorContainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
    }

    .customMonths{
        justify-content: left !important;
    }
}


