.daySelector{
    container-type:inline-size;
    container-name:daySelector;
}

.calendar{
    margin-bottom:40px;
}

.daySelectorContainer{
    display:grid;
    grid-template-rows: auto 1fr auto;
    margin-bottom:40px;
}

.radioContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}

.radioItem{
    background: hsla(0, 100%, 100%, 1);
    border: 1px solid black;
    display:flex;
    align-items: center;
}

.radioItem:hover{
    background: var(--primary-color);
    color: hsla(0, 100%, 100%, 1);
}

.radioItem > input[type='radio']{
    margin: 0 10px 0 10px;
}

.radioItem > label{
    width:100%;
    padding:10px 10px 10px 0;
}

.radioItem > label:hover{
    cursor: pointer;
}

.customRoot{
    --rdp-cell-size: 40px;
    --rdp-accent-color: var(--primary-color);
    --rdp-background-color: hsl(180, 79%, 92%);
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    --rdp-outline: 2px solid var(--rdp-accent-color);
    --rdp-outline-selected: 3px solid var(--rdp-accent-color);
    margin:0;
}

.customMonths{
    display:flex;
    justify-content:center;
}

.customTfoot{
    margin: 0.5em;
}

.customTfoot p{
    padding-left:9px;
}

@container daySelector (min-width:720px){
    .daySelectorContainer{
        grid-template-columns: 1fr 2fr;
        grid-template-rows:1fr;
        gap:40px;
    }

    .radioContainer{
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: auto;
        grid-auto-flow: column;
    }

    .customRoot{
        margin-left:-8px;
    }

    .customMonths{
        justify-content: left !important;
    }
}


