.reservationForm {
    background: var(--reservation-form-bg);
    padding: 20px;
}

.margin {
    margin-bottom: 20px;
}

.submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.receipt {
    box-shadow: 0 0 10px var(--box-shadow-color);
    background: hsla(0, 100%, 100%, 1);
    padding: 20px;
}

.reservationForm,
.receipt{
    margin-bottom: 40px;
}

.receipt h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.receipt,
.modal {
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 400;
}

.receipt p,
.modal p {
    margin-bottom: 10px;
}

.receipt time,
.modal time {
    font-weight: 600;
    display: block;
}

@media (min-width: 720px) {
    .modal {
        padding: 20px;
    }

    .receipt,
    .reservationForm {
        padding: 40px;
        margin-bottom: 60px;
    }
}
