.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.h1 {
    font-size: 81px;
    font-weight: 300;
    background:hsla(0, 0%, 100%, 0.3);
    z-index: 1;
    padding: 0 20px;
}
