.header {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.h1 {
    font-size: 81px;
    font-weight: 300;
    background:hsla(0, 0%, 100%, 0.6);
    z-index: 1;
    padding: 0 20px;
}

.char{
    --charColor:hsla(0, 100%, 40%, 1);
    --charShadowColor:hsla(0, 100%, 12%, 1);
    display:inline-block;
    margin-left:10px;
    color:var(--charColor);
    text-shadow: 0 3px 3px #1e1e1e;
}
