.panel{
    box-shadow: 0 0 10px var(--box-shadow-color);
    background: hsla(0, 100%, 100%, 1);
    padding: 20px;
}

@media (min-width: 720px){
    .panel{
        padding: 40px;
        margin-bottom:60px;
    }
}