.menu {
    position: relative;
    z-index: 1;
}

.menu ul {
    display: flex;
    flex-direction: row-reverse;
}

.menu li {
    list-style: none;
    padding: 20px;
}

.active,
.menu a:hover{
    border-bottom: 1px solid hsl(0,0%,0%,100);
}

.home{
    margin-right:auto;
}


