.menu {
    --menubg:hsla(0, 100%, 100%, 0);
    position: relative;
    z-index: 1;
    background: var(--menubg);
    width:100%;
}

.menu ul {
    display: flex;
    flex-direction: row-reverse;
}

.menu li {
    list-style: none;
    padding: 20px;
}

.active,
.menu a:hover{
    border-bottom: 1px solid hsl(0,0%,0%,100);
}

.home{
    margin-right:auto;
}

@media (min-width:720px){
    .menu li:last-child {
        padding-left:0;
    }

    .menu li:first-child {
        padding-right:0;
    }
}

