:root {
    --bg-color: hsla(0, 100%, 100%, 1);
    --font-size: 62.5%;
    --font-color: hsl(0, 0%, 12%, 1);
    --box-shadow-color: hsla(0, 0%, 82%, 1);

    /* Primary color */
    --primary-color-h: 180deg;
    --primary-color-s: 100%;
    --primary-color-l: 13%;
    --primary-color: hsla(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), 1);
    --primary-color-light: hsla(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + 15%), 1);
    --primary-color-dark: hsla(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 15%), 1);

    --reservation-form-bg: hsla(0, 100%, 100%, 1);

    --reservation-item-border-color: hsla(0, 0%, 72%, 1);

    --footer-bg: hsla(0, 16%, 13%, 1);
    --footer-border-top: hsla(0, 100%, 13%, 1);
    --footer-color: hsla(0, 100%, 100%, 1);

    --heroCharColor: hsla(0, 100%, 40%, 1);
    --herCharShadowColor: hsla(0, 100%, 12%, 1);

    --introCard-bg: hsla(0, 100%, 100%, 1);

    /*--Form element --*/
    --button-bg: hsla(0, 100%, 100%, 1);
    --button-color: hsla(0, 0%, 12%, 1);
    --button-border-color: hsla(0, 0%, 12%, 1);
    --button-hover-bg: hsla(0, 100%, 100%, 1);
    --button-hover-color: hsla(0, 100%, 13%, 1);
    --button-hover-border-color: hsla(0, 100%, 13%, 1);
    --button-active-bg: hsl(0, 0%, 12%, 1);
    --button-active-color: hsla(0, 100%, 100%, 1);

    --button-primary-bg: var(--primary-color);
    --button-primary-color: hsla(0, 100%, 100%, 1);
    --button-primary-hover-bg: var(--primary-color-light);
    --button-primary-hover-border-color: var(--primary-color-light);
    --button-primary-hover-color: hsla(0, 100%, 100%, 1);
    --button-primary-active-bg: var(--primary-color-dark);
    --button-primary-active-border-color: var(--primary-color-dark);

    --button-danger-bg: hsla(0, 100%, 40%, 1);
    --button-danger-color: hsla(0, 100%, 100%, 1);
    --button-danger-hover-bg: hsla(0, 100%, 50%, 1);
    --button-danger-hover-color: hsla(0, 100%, 100%, 1);
    --button-danger-active-bg: hsla(0, 100%, 30%, 1);
    --button-danger-active-color: hsla(0, 100%, 100%, 1);

    --button-outline-color: hsla(199, 100%, 47%, 1);

    /*--Toggle button--*/
    --toggle-button-bg: hsla(0, 100%, 100%, 1);
    --toggle-button-color: hsla(0, 0%, 12%, 1);
    --toggle-button-active-bg: hsla(0, 100%, 13%, 1);
    --toggle-button-active-color: hsla(0, 100%, 100%, 1);
    --toggle-button-hover-bg: hsla(0, 100%, 23%, 1);
    --toggle-button-hover-color: hsla(0, 100%, 100%, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: var(--font-size);
}

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(208, 208, 208);
    background: radial-gradient(circle, rgba(208, 208, 208, 1) 25%, rgba(255, 255, 255, 1) 100%);
    font-size: 1.6rem;
}

#__next {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
